<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title >To-Do lists</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- <link rel="stylesheet" href="../static/css/bootstrap.css"> -->
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="../static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>

    <main>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <form method="POST" action="{% block form_action %}{% endblock %}">
                        <input name="item_text"id="id_new_item" placeholder="Enter a to-do item">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 com-md-offset-3">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </main>
</html>
